* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Livvic", sans-serif;
}

body {
  background-color: #014e56;
}

body .contact ~ .banner {
  display: none;
}

.nav-bar {
  display: flex;
  align-items: center;
  padding: 3.5rem 10%;
}
.nav-bar .logo {
  display: block;
  margin-right: 5rem;
}
.nav-bar .links {
  display: flex;
  align-items: center;
  gap: 3.5rem;
  width: 100%;
}
.nav-bar .links .link {
  color: #fff;
  text-decoration: none;
  font-size: 1.15rem;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.nav-bar .links .link:hover {
  color: #f67e7e;
}
.nav-bar .links .btn {
  margin-left: auto;
  padding: 0.8rem 2.4rem;
  outline: 0.1rem solid #fff;
  color: #fff;
  text-decoration: none;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  font-size: 1.15rem;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.nav-bar .links .btn:hover {
  background-color: #fff;
  color: #014e56;
}
.nav-bar .links-btn {
  display: none;
  cursor: pointer;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 10% 15rem;
  gap: 2.5rem;
  isolation: isolate;
}
.header .title {
  font-size: 6rem;
  line-height: 6rem;
  color: #fff;
  width: 100%;
}
.header .title span {
  color: #f67e7e;
}
.header .text {
  color: #fff;
  font-weight: 600;
  max-width: 500px;
  font-size: 1.15rem;
  line-height: 1.75rem;
}
.header .text::before {
  content: "";
  width: 3.5rem;
  height: 4px;
  background-color: #79c8c7;
  display: block;
  margin-bottom: 3.5rem;
}
.header::before {
  content: "";
  position: absolute;
  left: -100px;
  top: 12.5%;
  width: 200px;
  height: 200px;
  background-image: url(assets/bg-pattern-home-1.svg);
  z-index: -1;
}
.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 358px;
  height: 100px;
  background-image: url(assets/bg-pattern-home-2.svg);
  z-index: -1;
}
.header.sub-header {
  overflow-x: hidden;
}
.header.sub-header .title {
  font-size: 4.5rem;
  line-height: 4.5rem;
}
.header.sub-header .text {
  max-width: 700px;
}
.header.sub-header .text::before {
  background-color: #f67e7e;
}
.header.sub-header::before {
  display: none;
}
.header.sub-header::after {
  width: 200px;
  height: 200px;
  background-image: url(assets/bg-pattern-about-1-mobile-nav-1.svg);
  right: -100px;
}

.article {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 10rem 10%;
  background-color: #012f34;
  gap: 2.5rem;
  overflow-x: hidden;
  isolation: isolate;
}
.article .heading {
  font-size: 2.75rem;
  color: #fff;
  flex-basis: 100%;
}
.article .heading::before {
  content: "";
  width: 3.5rem;
  height: 4px;
  background-color: #f67e7e;
  display: block;
  margin-top: -4rem;
  margin-bottom: 4rem;
}
.article .row {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex-basis: 100%;
}
.article .row .item {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}
.article .row .item img {
  min-width: 72px;
  height: 72px;
  -o-object-fit: contain;
     object-fit: contain;
}
.article .row .item .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.article .row .item .content .name {
  font-size: 1.2rem;
  color: #f67e7e;
}
.article .row .item .content .text {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 600;
  line-height: 1.6rem;
}
.article::after {
  position: absolute;
  bottom: 0;
  right: -100px;
  content: "";
  width: 200px;
  height: 244px;
  background-image: url(assets/bg-pattern-home-3.svg);
  z-index: -1;
}

.testimonials {
  padding: 10rem 10%;
  text-align: center;
  background-color: #004047;
  position: relative;
}
.testimonials::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 147px;
  height: 100px;
  background-image: url(assets/bg-pattern-home-4-about-3.svg);
}
.testimonials::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 100px;
  background-image: url(assets/bg-pattern-home-5.svg);
}
.testimonials .heading {
  font-size: 3rem;
  color: #fff;
  max-width: 1000px;
  margin: auto;
}
.testimonials .heading span {
  color: #79c8c7;
}
.testimonials .row {
  display: flex;
  gap: 2.5rem;
  padding-top: 7.5rem;
}
.testimonials .row .text {
  color: #fff;
  line-height: 1.6rem;
  font-weight: 600;
  font-size: 0.975rem;
  position: relative;
  isolation: isolate;
}
.testimonials .row .text::after {
  position: absolute;
  top: -36px;
  left: calc(50% - 33.5px);
  content: "";
  width: 67px;
  height: 56px;
  background-image: url(assets/icon-quotes.svg);
  z-index: -1;
}
.testimonials .row .name {
  padding: 1.5rem 0 0.5rem;
  color: #79c8c7;
}
.testimonials .row .profession {
  color: #fff;
  font-style: italic;
  font-weight: 400;
  font-size: 0.875rem;
}
.testimonials .row img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  outline: 2px solid #79c8c7;
  margin-top: 2.5rem;
}

.staff {
  position: relative;
  padding: 10rem 10%;
  background-color: #004047;
  text-align: center;
  isolation: isolate;
}
.staff::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100px;
  width: 200px;
  height: 200px;
  background-image: url(assets/bg-pattern-about-2-contact-1.svg);
  z-index: -1;
}
.staff::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 147px;
  height: 100px;
  background-image: url(assets/bg-pattern-home-4-about-3.svg);
  z-index: -1;
}
.staff .heading {
  font-size: 3rem;
  color: #fff;
}
.staff .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.5rem;
  padding-top: 5rem;
}
.staff .row .item {
  position: relative;
  height: 18rem;
}
.staff .row .item .front-side,
.staff .row .item .back-side {
  display: grid;
  place-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.staff .row .item .front-side {
  background-color: #012f34;
  position: relative;
}
.staff .row .item .front-side > img {
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  outline: 0.1rem solid #79c8c7;
  margin: auto;
  display: block;
}
.staff .row .item .front-side .name {
  padding: 1.25rem 0 0.25rem;
  color: #79c8c7;
}
.staff .row .item .front-side .profession {
  color: #fff;
  font-style: italic;
  font-weight: 400;
}
.staff .row .item .back-side {
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  background-color: #002529;
}
.staff .row .item .back-side .name {
  color: #79c8c7;
}
.staff .row .item .back-side .text {
  color: #fff;
  font-weight: 600;
  line-height: 1.6rem;
  max-width: 280px;
  margin: 0.75rem auto 1.75rem;
}
.staff .row .item .back-side .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}
.staff .row .item .back-side .social-icons img {
  cursor: pointer;
}
.staff .row .item .btn {
  position: absolute;
  left: calc(50% - 30px);
  bottom: -30px;
  display: grid;
  place-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: none;
  background-color: #f67e7e;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  cursor: pointer;
}
.staff .row .item .btn:hover {
  background-color: #79c8c7;
}
.staff .row .item .btn img {
  pointer-events: none;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.staff .row .item.active .btn {
  background-color: #79c8c7;
}
.staff .row .item.active .btn img {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
}
.staff .row .item.active .btn:hover {
  background-color: #f67e7e;
}
.staff .row .item.active .front-side {
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
}
.staff .row .item.active .back-side {
  transform: rotateY(0);
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
}

.clients {
  position: relative;
  padding: 7.5rem 10%;
  background-color: #012f34;
  text-align: center;
  isolation: isolate;
}
.clients::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-image: url(assets/bg-pattern-about-4.svg);
  z-index: -1;
}
.clients .heading {
  font-size: 3rem;
  color: #fff;
}
.clients .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.5rem;
  gap: 2.5rem;
}
.clients .row img {
  width: min(160px, 100%);
  display: block;
}

.contact {
  position: relative;
  display: flex;
  gap: 2.5rem;
  padding: 7.5rem 10%;
  overflow-x: hidden;
  isolation: isolate;
}
.contact::before {
  content: "";
  position: absolute;
  top: 7.5rem;
  left: -100px;
  width: 200px;
  height: 200px;
  background-image: url(assets/bg-pattern-about-2-contact-1.svg);
  z-index: -1;
}
.contact::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -100px;
  width: 201px;
  height: 225px;
  background-image: url(assets/bg-pattern-contact-2.svg);
  z-index: -1;
}
.contact .content {
  flex-basis: 100%;
}
.contact .content .title {
  font-size: 4.5rem;
  color: #fff;
}
.contact .content .heading {
  font-size: 2rem;
  color: #f67e7e;
  padding: 1.5rem 0 3rem;
}
.contact .content .row {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.contact .content .row .item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.contact .content .row .item img {
  min-width: 72px;
  display: block;
}
.contact .content .row .item .text {
  color: #fff;
  font-weight: 600;
  font-size: 1.15rem;
}
.contact .form {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  gap: 1.5rem;
}
.contact .form input,
.contact .form textarea {
  padding: 1rem;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  resize: none;
}
.contact .form .btn {
  width: min(200px, 100%);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  padding: 0.85rem;
  background-color: #fff;
  color: #002529;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-size: 1.15rem;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  letter-spacing: 1px;
}
.contact .form .btn:hover {
  background-color: #f67e7e;
  color: #fff;
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 15%;
  background-color: #f67e7e;
  isolation: isolate;
}
.banner .heading {
  font-size: 3rem;
  color: #012f34;
  font-weight: 700;
}
.banner .btn {
  margin-left: auto;
  padding: 0.8rem 2.4rem;
  outline: 0.1rem solid #002529;
  color: #002529;
  text-decoration: none;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  font-size: 1.15rem;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.banner .btn:hover {
  background-color: #002529;
  color: #fff;
}
.banner::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 200px;
  height: 144px;
  background-image: url(assets/bg-pattern-home-6-about-5.svg);
  z-index: -1;
}

.footer {
  display: flex;
  padding: 3rem 10%;
  background-color: #002529;
  gap: 7.5rem;
}
.footer .left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .left-side .bottom-content {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.footer .left-side .bottom-content .link {
  color: #fff;
  text-decoration: none;
  font-size: 1.15rem;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.footer .left-side .bottom-content .link:hover {
  color: #f67e7e;
}
.footer .center {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer .center .text {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 600;
}
.footer .right-side {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  text-align: left;
  justify-content: space-between;
}
.footer .right-side .social-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
}
.footer .right-side .social-icons img {
  cursor: pointer;
}
.footer .right-side .social-icons img:hover {
  fill: #f67e7e;
}
.footer .right-side .text {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 600;
}

@media screen and (max-width: 1124px) {
  .nav-bar {
    padding: 3.5rem 5%;
  }
  .header {
    padding: 5rem 5% 12.5rem;
  }
  .header .title {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
  .article,
  .testimonials,
  .staff {
    padding: 10rem 5%;
  }
  .clients,
  .contact {
    padding: 7.5rem 5%;
  }
  .banner {
    padding: 4rem 10%;
  }
  .footer {
    padding: 3rem 5%;
  }
}
@media screen and (max-width: 912px) {
  .header {
    flex-direction: column;
    text-align: center;
  }
  .header .title, .header.sub-header .title {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .header .text {
    font-size: 1rem;
  }
  .header .text::before {
    display: none;
  }
  .header::before {
    display: none;
  }
  .header:not(.sub-header)::after {
    right: calc(50% - 179px);
  }
  .article {
    flex-direction: column;
    gap: 5rem;
  }
  .article .heading {
    text-align: center;
    margin: auto;
    font-size: 2.5rem;
  }
  .article .heading::before {
    margin: -3rem auto 3rem;
  }
  .testimonials .heading {
    font-size: 2.5rem;
  }
  .testimonials .row {
    flex-direction: column;
    gap: 7.5rem;
  }
  .testimonials .row .item {
    max-width: 600px;
    margin: auto;
  }
  .banner {
    padding: 4rem 5%;
  }
  .banner .heading {
    font-size: 2.5rem;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer .left-side {
    gap: 2.5rem;
  }
  .footer .left-side .bottom-content {
    justify-content: center;
  }
  .footer .center {
    gap: 1.25rem;
  }
  .footer .right-side {
    margin: auto;
    gap: 2.5rem;
  }
  .footer .right-side .social-icons {
    justify-content: center;
  }
  .staff .heading {
    font-size: 2.5rem;
  }
  .staff .row {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact {
    flex-direction: column;
    text-align: center;
    gap: 5rem;
  }
  .contact .content {
    max-width: 600px;
    margin: auto;
  }
  .contact .content .title {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .contact .content .row {
    justify-content: center;
  }
  .contact .form {
    margin: auto;
    width: min(600px, 100%);
  }
}
@media screen and (max-width: 700px) {
  .nav-bar {
    padding: 2rem 5%;
    position: relative;
    justify-content: space-between;
  }
  .nav-bar .logo {
    width: 150px;
  }
  .nav-bar .links {
    flex-direction: column;
    position: absolute;
    top: -100vh;
    right: 0;
    height: 100vh;
    background: linear-gradient(#014e56 75%, transparent);
    z-index: 2;
    padding-top: 7.5rem;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
  }
  .nav-bar .links .btn {
    margin: 0 auto;
  }
  .nav-bar .links.active {
    top: 100%;
  }
  .nav-bar .links-btn {
    display: block;
  }
  .contact .content .row {
    gap: 2.5rem;
  }
  .article .row .item,
  .contact .content .row .item {
    flex-direction: column;
    text-align: center;
  }
  .article .row .item img,
  .contact .content .row .item img {
    margin: auto;
  }
  .banner {
    flex-direction: column;
    gap: 2rem;
  }
  .banner .heading {
    font-size: 2.25rem;
  }
  .banner .btn {
    margin: auto;
  }
  .staff .heading {
    font-size: 2.25rem;
  }
  .staff .row {
    grid-template-columns: 1fr;
  }
  .clients .heading {
    font-size: 2.25rem;
  }
  .clients .row {
    flex-direction: column;
    gap: 5rem;
  }
  .clients .row img {
    width: min(140px, 100%);
  }
  .title {
    font-size: 2.75rem !important;
    line-height: 2.75rem !important;
  }
  .heading {
    font-size: 1.75rem !important;
  }
  .form .btn {
    margin: auto;
  }
}/*# sourceMappingURL=style.css.map */